html {
    margin: 0;
    height: 100%;
  }

body {
    margin: 0;
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
    font-size: 16px;
}

* {
    font-family: Helvetica, sans-serif;
}

input {
    outline: none;
}

header p {
    margin: 0;
}

.welcome-search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    height: 3rem;
    
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
}

.flutter {
    font-weight: 200;
    font-size: 25px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #fafafa;

    border: 1px solid rgb(189, 226, 236);
    border-radius: 15px;
}

.search-field {
    text-align: left;

    background-color: transparent;

    height: 26px;
    max-width: 12rem;
    width: 90%;
    
    border: none;
    
    padding-left: 1rem;
}

.search img {
    height: 15px;

    padding-right: 0.5rem;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;

    background-color: white;

    max-width: 18rem;

    margin-top: 0.5rem;
}

.person img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 4.5rem;
    height: 4.5rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.person-name {
    text-align: center;

    font-weight: bold;

    margin-top: 0.5rem;
}

.profile-info {
    background-color: #f2f3f8;

    border-top: 1px solid rgb(238, 233, 233);
}

.profile-info-posts {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0.6rem;
}

.info {
    display: inline;
}

.profile-posts, .profile-reactions {
    color: rgba(80, 79, 79, 0.808);

    font-weight: 600;
    font-size: 15px;

    padding-right: 0.5rem;
}

.profile-posts-number, .profile-reactions-number {
    color: rgb(44, 146, 241);

    font-weight: 600;

    padding-right: 0.5rem;
}

.logout {
    cursor: pointer;

    background-color: white;
    color:  rgb(44, 146, 241);

    font-weight: bolder;

    border: 1px solid  rgb(44, 146, 241);
    border-radius: 20px;

    padding: 0.6rem;

    margin-left: 2rem;

    outline: none;
}

.logout:hover {
    color: rgb(31, 115, 194);

    border: 1px solid rgb(31, 115, 194);  
}

.feed {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;

    background-color: white;

    max-width: 55rem;

    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.say-sth-field {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color:  #f2f3f8;

    border-bottom: 1px solid rgb(238, 233, 233);

    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.say-sth-pic {
    height: 2rem;
    width: 2rem;

    margin: 0.2rem;
}

.say-sth {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;

    width: 25rem;

    border: 1px solid  rgb(167, 206, 243);
    border-radius: 15px;

    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    margin: 0.2rem;
    margin-left: 0.7rem;
}

.say-sth-box {
    border: none;
    outline: none;
}

.say-sth-box::placeholder {
    color:  rgb(167, 206, 243);
}

.comment-pic {
    height: 16px;

    padding-top: 0.1rem;
}

.posts {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 0.5rem;
    
    margin-top: 0.5rem;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.post-info .profile-pic {
    width: 2.5rem;
    height: 2.5rem;
}

.post-name-time-text {
    display: flex;
    flex-direction: column;
    align-items: self-start;

    margin: 0.5rem;
    margin-top: 0;
    margin-left: 1rem;
}

.post-name-time-text p{
    margin: 0;
}

.post-name-time {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin-bottom: 0;
}

.post-name-time img {
    height: 7px;
    width: 6px;

    margin: 0.5rem;  
}

.post-name {
    font-weight: bold;
}

.post-time {
    color: grey;

    font-weight: bolder;
    font-size:14px;
}

.post-text {
    align-self: center;

    font-size: 14px;

    max-width: 25rem;

    margin: 0.5rem; 
}

.like-dislike {
    display: flex;
    align-items: center;
    justify-self: start;

    margin: 0.5rem;
}

.like-count, .dislike-count {
    font-size: 14px;
    font-weight: bolder;

    margin-right: 2rem;
}

.like-button, .dislike-button {
    height: 15px;
    width: 15px;

    margin-right: 0.5rem;
}

.x-pic {
    width: 10px;
    height: 10px;

    margin: 0.5rem;
}

@media screen and (max-width: 890px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .persom img {
        width: 5.25rem;
        height: 5.25rem;
    }

    .profile {
        max-width: 55rem;
        width: 90%;

        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .profile-info {
        height: 3.75rem;
    }

    .profile-posts, .profile-reactions {
        font-size: 0.75rem;
    }
    
    .profile-posts-number, .profile-reactions-number {
        font-size: 1.125rem;
    }

    .feed {
        width: 90%;

        margin-top: 0;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .say-sth-field {
        height: 3rem;
    }

    .posts {
        font-size: 0.875rem;

        min-height: 7rem;
    }

  }