html {
  margin: 0;
  height: 100%;
}

* {
  font-family: Helvetica, sans-serif;
}

body {
  background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
  font-size: 16px;
}

input {
  border: none;
}

button:focus {
  outline: none;
}

h1, h3 {
  cursor: default;
}

.window {
  position:fixed;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);

  background-color: white;

  max-width: 32rem;
  width: 90%;
  
  border-radius: 10px;
}

.content {
  padding: 2.5rem;
}

.flutter {
  font-weight: 200;
  font-size: 2.5rem;
  letter-spacing: 0.05rem;

  margin: 0;

  text-align: left;
}

.subtitle {
  color: #848694;

  font-weight: 100;
  letter-spacing: 0.02rem;

  margin-top: 0.5rem;
  margin-bottom: 2rem;

  text-align: left;
}

.input-line:focus {
  outline: none;
  border-color:blue;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.input-line {
  background: none;
  border-bottom: 1px solid rgba(92, 92, 86, 0.65);
  margin-bottom: 0.5rem;

  display: block;

  line-height: 2.4em;
  font-weight: 300;
  letter-spacing: 0.05rem;

  width: 100%;
}

.submit-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.submit {
  cursor: pointer;

  background-color: rgb(76, 192, 255);
  color: rgba(255, 255, 255, 0.65);

  letter-spacing: 0.01rem;
  
  padding-right: 3rem;
  padding-left: 3rem;
  border: none;
  border-radius: 1rem;

  height: 2rem;
  max-width: 10rem;
}

.submit:hover {
  background-color:  rgb(55, 174, 238);
  color: white;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.create-account-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.create-account {
  cursor: pointer;

  background-color: transparent;
  color:  rgb(47, 84, 252);

  letter-spacing: 0.01rem; 

  padding-top: 0.5rem;
  padding-right: 1.3rem;
  margin: 6px 0;
  border: none;

  height: 1rem;
  max-width: 10rem;
}

.create-account:hover {
  color: blue;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.fieldset {
  border: 0 none;
  padding: 0;
}

