p {
    text-indent: 10px;
    text-align: justify;
}

#logo {
    float: right;
    clear: right;
}

#logo2 {
    float: left;
    clear: left;
}

#logo3 {
    display: none;
}

#text-div {
    display: inline;
}

.strike-out {
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.italics {
    font-style: italic;
}

.uppercase {
    text-transform: uppercase;
}

p:first-of-type {
    letter-spacing: 2px;
    line-height: 1.5em;
}

p:nth-of-type(3) {
    word-spacing: 10px;
}